@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Finance Planner.</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Please login to manage your future!</p>
    }
    else
    {
        <p>Select View Finances to begin.</p>
    }

</div>
